<section>
    <!--
    <h1>Jugadores</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="1" border="0">
            <thead>
                <tr>
                    <th *ngFor="let header of tituloTablas">{{header}}</th>
                </tr>
            </thead>
        </table>
    </div>
-->
<BR/>
<div align="center"> 
    <button (click)="crearJugador()">Nuevo Jugador</button>
</div>

    <div align="center"> 
        <h1>Jugadores</h1>
        <table cellpadding="0" cellspacing="1" border="0">
            <thead>
                <tr>
                    <th *ngFor="let header of tituloTablas">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jugador of (jugadores$ | async)">
                    <th>{{jugador.nombre}}</th>
                    <th>{{jugador.apellido}}</th>
                    <th>{{jugador.posicion}}</th>
                    <th>{{jugador.peso}}</th>
                    <th>{{jugador.altura}}</th>
                    <th>{{jugador.nacionalidad}}</th>
                    <th>{{jugador.izquierdo}}</th>
                    <th>
                        <button class="submit" (click)="editarJugador(jugador)">Editar</button>
                        <button class="submit" (click)="eliminarJugador(jugador)">Eliminar</button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<app-dialogo-jugador *ngIf="mostrarModal" [jugador]="seleccionJugador" (closeDialog)="cerrarDialogo()"></app-dialogo-jugador>